<div class="container">
  <br>
  <br>
  <p>
    <strong>Name:</strong>
    <%= @cocktail.name %>
  </p>
  <p>
    <strong>Ingredients:</strong><br>
    <%= @ingredient.name %>
    <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name%>
  </p>
  <% end %>



  <%= image_tag @cocktail.photo.url, width: 400, height: 400, crop: :fill%>
  <br>
  <br>
  <%= link_to 'Add New Dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
  <br>
  <br>
  <%= link_to 'Back to list', cocktails_path, class: "btn btn-danger" %>
  <br>
  <br>
</div>


